<!--update.ejs --> 
<!DOCTYPE html> 
<html> 
    <head> 
        <title>แก้ไขข้อมูลนักกีฬา</title> 
        <link rel="stylesheet" href="../css/style.css"/>
    </head> 
    <body> 
        <h1>แก้ไขข้อมูลนักกีฬา</h1> 
        <form method="post" action="/update/<%= player. player_id %>"> 
            <label for="name">ชื่อนักกีฬา :</label> 
            <input type="text" id="name" name="name" value="<%= player.name %>"> 
            <br> 
            <label for="number">หมายเลขนักกีฬา :</label> 
            <input type="text" id="number" name="number" value="<%= player.number %>"> 
            <br> 
            <input type="submit" value="บันทักการแก้ไข"> 
        </form> 
        
        
        <div class="link-center">
            <a href="/player/<%= player. player_id %>">แสดงขัอมูล</a> 
            <a href="/delete/<%= player. player_id %>">ลบข้อมูล</a> 
            <a href="/players">ย้อนกลับ</a>
          </div>
    </body> 
    </html>